@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-ExtraLightItalic.ttf);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Bold.ttf);
  font-weight: 700;
}

h1 {
  font-size: 48px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.76);
}

header {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

textarea, select, input:not([type="radio"], [type="checkbox"]) {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

label, textarea, select, input:not([type="radio"], [type="checkbox"]) {
  display: block;
  width: 100%;
  font-size: 16px;
}

label, p {
  color: #fff;
  font-size: 18px;
}

input[type="submit"] {
  background-color: #26a14f;
  color: rgb(250, 250, 250);
}

.container {
  margin: 10px auto;
  padding: 15px 25px;
  max-width: 550px;
  background-color: #12012c8c;
  border-radius: 8px;
}

.spacing {
  padding-bottom: 20px;
}

#description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226), 0px 0px 5px rgba(0, 0, 0, 0.25);
}

#backgroundImage {
  background: linear-gradient(#1c61a1aa, #4f1ca1aa), url(./images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#photoInfo {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

#photoInfo div {
  padding: 15px 25px;
  background-color: #00000073;
  border-top-left-radius: 8px;
  color: #fff;
}